<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://yannantang.github.io/images/CV_YannanTang.pdf">CV</a></li>
	        		<li><a href="/site_logs">Site Logs</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yannant@uci.edu">Email me</a></li>
	        		<li><a href="https://github.com/YannanTang">My Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
